<table class="table table-hover">
  <thead class="thead-default ">
    <tr>
      <th>Week<div>{{week}}</div></th>
      <th>Mon<div>{{weekdays.mon}}</div></th>
      <th>Tue<div>{{weekdays.tue}}</div></th>
      <th>Wed<div>{{weekdays.wed}}</div></th>
      <th>Thu<div>{{weekdays.thu}}</div></th>
      <th>Fri<div>{{weekdays.fri}}</div></th>
      <th>Sat<div>{{weekdays.sat}}</div></th>
      <th>Sun<div>{{weekdays.sun}}</div></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Hours</th>
      <td><input hour></td>
      <td><input></td>
      <td><input></td>
      <td><input></td>
      <td><input></td>
      <td><input></td>
      <td><input></td>
    </tr>
    <tr>
      <th scope="row">Hours</th>
      <td><input></td>
      <td><input></td>
      <td><input></td>
      <td><input></td>
      <td><input></td>
      <td><input></td>
      <td><input></td>
    </tr>
    <tr>
      <th scope="row">Total</th>
      <td>{{total.mon}}</td>
      <td>{{weekdays.tue.total}}</td>
      <td>{{weekdays.wed.total}}</td>
      <td>{{weekdays.thu.total}}</td>
      <td>{{weekdays.fri.total}}</td>
      <td>{{weekdays.sat.total}}</td>
      <td>{{weekdays.sun.total}}</td>
    </tr>
  </tbody>
</table>
